<html>
    <head>
        <link href="mycss.css" rel="stylesheet" media = "screen">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>
    <div class="header">
        <h2>Summary of data received from Beacons</h2>
        <form id = "brpage" action="/refresh" method="GET">
            <button id ="refresh" ">Refresh</button>
        </form>
    </div>
    <div class="wrapper">
        <p class="data">Click on the button if you want to empty the table below for a new experiment</p>
        <form id = "resettable" action="/resettable" method="POST">
                <button id ="checkin">Reset</button>
        </form>
    <table id="tabledata">  
        <thead text-align="center">  
            <tr>  
                <th>Beacon ID</th>  
                <th>Status</th>
                <th>Location</th>   
                <th>Activity Timestamp</th>  
            </tr>  
        </thead>  
         <tbody>  
         <% checkin.forEach(function (checkin) { %>
            <tr>  
                <td><%= checkin.beaconId %></td>  
                <td><%= checkin.status %></td>
                <td><%= checkin.location %></td>
                <td><%= checkin.time %></td>
            
            </tr>                                   
         <% }) %>
         </tbody>
    </table>
    </div>
    <div class="footer">
        Developed by DDSLab Team
    </div>
</body>

</html>